body{
    background:#111;
    color:white;
    margin:0;
    font-family:Arial,sans-serif;
}

h1{
    text-align:center;
    margin:20px 0;
}

.card{
    width:95%;
    max-width:500px;
    margin:20px auto;
    background:#1c1c1c;
    border-radius:15px;
    overflow:hidden;
}

.card img{
    width:100%;
    display:block;
}

.card a{
    text-decoration:none;
}

.card button{
    width:90%;
    margin:20px auto;
    display:block;
    padding:15px;
    border:none;
    border-radius:10px;
    background:#00c853;
    color:white;
    font-size:20px;
    font-weight:bold;
    cursor:pointer;
}
